div{
    height:100px;
    width:100px;
    background-color: aqua;
    border: 1px solid black;
}
/* jab hm transform pe kam karte hai to hm 2d me x&y pe kam karte ha */
/* 3D me hmko prespective on karna padhtha hai */
.translated{
    /* transform: translateZ(100px);  
    sirf itn a likhna pe kam nahi hota hai apne ko prespective chaiye
 */
      transform: perspective(15px) translateZ(-5px);
      /* jaise jaise hamara aakho se koi chiz door jata hai 
      waise waise chota lagna lagta hai */
}


/* scaled mtlb zooming */
.scaled{
    /* transform:scaleZ() aagar hm third axis pe
    kam kar raha hai toh perespective on karna padha ga */
    
    
    
    /* transform:perespective(350px) scaleZ(2);
    iska bad bhi apne ko koi aantar nahi dikh raha hai 
    kyuki hm sirf top veiw dekh raha hai hama side veiw bhi
    dekhna ho ga  to hm rotate kare ga */

    transform:perspective(350px) scaleZ(2)  rotateX(15deg) rotateY(30deg);
    transform:rotateZ(30deg);
    /* ???question rotation ke time kyu kuch on nahi karna padh raha hai */
}