.container{
    height:400px;
    width:300px;
    overflow-y: scroll;
margin:20px;
padding:20px;
border:10px solid black;
position:relative;
    
}

.box{
    display:inline-block;
    height:100px;
    width:100px;
    border: 2px solid green;
    margin:10px;
    padding:10px;
}

#box_1{
    /* relative position matlb ki relative to its normal position */
    position :relative;
    /* properties we can use are top, bottom,right,left */

    /* top:20px; */
    left:100px;
    top:100px;
}

#box_2{
    /* relative to the position of first parrent */
    position:absolute;
    top: 300px;
    left:300px;
}