*{
    margin: 0;padding: 0;
    box-sizing:border-box;
}

.container{

border:2px solid black;
/* background-color:aquamarine; */
height:100vh;
width:100vw;
display:grid;
grid-gap:10px;

grid-template-rows: 40px 400px 40px;
grid-template-columns:200px 500px;

grid-template-areas:
"hd hd"
" side main"
"ft ft"





}

.box{
    border:3px solid black;
    background-color:aqua;

}

#Header{
    grid-area:hd;
}

#Sidebar{
    grid-area:side;
}
#Content{
    grid-area:main;
}

#Footer{
    grid-area:ft;
}


/* at thge end media queries */
/* 
@media(max-width:400px) {
    .container{
        grid-gap:100px;
    } */
/* } */


@media(max-width:350px){
.container{

    border:2px solid black;
    /* background-color:aquamarine; */
    height:100vh;
    width:100vw;
    display:grid;
    grid-gap:2px;
    
    grid-template-rows: 30px 1fr 1fr 30px;
    grid-template-columns:1fr;
    
    grid-template-areas:
    "hd "
    " side"
    "main"
    "ft "
    
    
    
    
    
    }
}