*{
    margin:0 px;
    padding: 0px;
    box-sizing: border-box;
    /* background-color: aqua; */
}

.wrapper{
    overflow-x: hidden;
    overflow-y: auto;
    /* height hama set karni ho gi jo ki 100% of the veiwport hoga */
    height:100vh;

    /* hama z axis me bhi kam karna hai toh phir hama prespective on karna ho ga */
    perspective: 10px;
}
.container{
    position:relative;
    height:100%;
    /* Adventure ko mere ko center karni hai  */
    display: flex;
    justify-content: center;
    align-items: center;

    /* maine upar perspective on kiya hai toh mere ko yaha pe bolna ho ga ki jobhi transform kiya hai usko preserve kare */
    transform-style: preserve-3d;
    z-index:-1;

}

 .background,.foreground{
    position:absolute;
    height:100%;
    width:100%;
    object-fit: cover;
    z-index:-1;
} 