*{
    margin: 0;padding: 0;
    box-sizing:border-box;
}

.container{

border:2px solid black;
/* background-color:aquamarine; */
height:100vh;
width:100vw;
display:grid;
grid-gap:10px;

grid-template-rows: 40px 1fr 1fr  40px;
grid-template-columns:1fr;

grid-template-areas:
"hd "
" side "
"main"
"ft "





}

.box{
    border:3px solid black;
    background-color:aqua;

}

#Header{
    grid-area:hd;
}

#Sidebar{
    grid-area:side;
}
#Content{
    grid-area:main;
}

#Footer{
    grid-area:ft;
}