p{
   position :static;
    
}
.pos{
    /* here we are displaying all the boxes in inline */
   display:inline-block;
    width:200px;
    height:200px;
    background-color: aqua;
    border: 1px solid black;

}
/* RElative positioning  =iska movement relative hai normal positioning ka  */
#box3{
    position:relative;
    top:100px;
    left:50px;
}
/* browser window ke respect me hm fixed karte hai */
#box1{
    position:fixed;
    top:100px;
    left:10px;
     
}
/* wrapper class create kiya kyuki scroll ka ke dekhna tha */
.wrapper{
    height :1000px;
    width:100vw;
}
